body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('just-a-drop-of-water.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
  }
  #stopwatch {
   
    font-size: 3em;
    /* margin: 20px 35%; */
    color:rgb(192, 119, 119);
    /* padding: 100px; */
     
    /*margin-left: 40%; */
    margin: auto;
    /*margin-right: 30%; */
    width: 250px;
    height: 250px; 
    margin-top: 20%;
    border:5px solid lavenderblush;
    border-radius: 50%;
    position: relative;
    display: flex; /* Add this line */
  justify-content: center; /* Add this line */
  align-items: center;
  box-shadow: 0 0 40px whitesmoke;
    background-image: url('globe.jpg');
    background-size: cover;
    background-repeat: round;
    animation: bounce 1s infinite alternate;
    transition: all 0.5s ease-ou;
  }
  .retro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }
  .retro:hover{
    color: brown;
    box-shadow: 0 0 10px whitesmoke;
    animation: time 3s linear infinite;;
  }
  @keyframes time {
    to {
        transform: rotate(360deg);
      }
  }
  @keyframes bounce{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-40px);
    }
  }
  #controls {
    margin-top: 50px;
  }
  button {
    font-size: 1em;
    margin: 0 10px;
    padding: 10px;
    cursor: pointer;
    background-color: pink;
    border-radius: 100px;
    border: 2px solid rgba(0, 0, 0, 0.581);
   
  }
  #lapList {
    list-style-type: none;
    padding: 0;
    color: white;
  }
  label{
    color:black;
    padding: 3px;
    background-color: chocolate;
  }
  /* Retro Style */
  /* .retro #stopwatch {
    font-family: 'Courier New', Courier, monospace;
    background-color: #ff0101;
    color: #f30505;
  }

  /* Digital Style */
  /* .digital #stopwatch {
    font-family: 'Digital-7', sans-serif;
    background-color: #000;
    color: rgb(12, 14, 12);
  } */

  /* Analog Style */
  /* .analog #stopwatch {
    font-family: 'Orbitron', sans-serif;
    background-color: #333;
    color: #fff;
  } */ 